.paste {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90vw;
  height: 95%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 5px;
  margin: 10px 0px;
}

.paste:hover .options {
  display: block;
}

.paste-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  height: fit-content;
  white-space: pre-wrap;
}

.paste-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
